# Cache, temp and personal files

src/.htaccess
src/.htpasswd
src/*.log
src/npm-debug.log.*
src/.sass-cache/
src/*.swp
src/*.swo
src/.cache/

# Cache
src/cache/*
!src/cache/.htaccess
!src/cache/cachefs/index.php
!src/cache/deprecated.txt
!src/cache/index.php
!src/cache/purifier/index.php
!src/cache/push/activity
!src/cache/push/index.php
!src/cache/push/trends
!src/cache/sandbox/index.php
!src/cache/smarty/cache/index.php
!src/cache/smarty/compile/index.php
!src/cache/smarty/index.php
!src/cache/tcpdf/index.php

# Download
# src/download/*
# !src/download/.htaccess
# !src/download/index.php

# Images
# src/img/*
# !src/img/logo-*.png
# !src/img/logo-*.jpg
# !src/img/logo_mail-*.png
# !src/img/logo_mail-*.jpg
# !src/img/.htaccess
# !src/img/index.php
# !src/img/404.gif
# !src/img/app_icon.png
# !src/img/bg_500.png
# !src/img/bg_loader.png
# !src/img/favicon.ico
# !src/img/loader.gif
# !src/img/loadingAnimation.gif
# !src/img/logo.jpg
# !src/img/logo.png
# !src/img/logo_invoice.jpg
# !src/img/logo_stores.png
# !src/img/macFFBgHack.png
# !src/img/prestashop-avatar.png
# !src/img/prestashop@2x.png
# !src/img/preston-login-wink@2x.png
# !src/img/preston-login@2x.png
# !src/img/questionmark.png
# !src/img/genders/index.php
# !src/img/admin/index.php
# !src/img/c/index.php
# !src/img/cms/index.php
# !src/img/co/index.php
# !src/img/e/index.php
# !src/img/jquery-ui
# !src/img/l/index.php
# !src/img/m/index.php
# !src/img/os/index.php
# !src/img/p/index.php
# !src/img/pr/index.php
# !src/img/pr/default.jpg
# !src/img/s/index.php
# !src/img/scenes
# !src/img/st/index.php
# !src/img/su/index.php
# !src/img/t/index.php
# !src/img/tmp/index.php

# Upload
# src/upload/*
# !src/upload/index.php
# !src/upload/.htaccess

# src/docs/phpdoc-sf/
# src/*.hot-update.js
# src/*.hot-update.json

# src/admin/autoupgrade/*
# !src/admin/autoupgrade/index.php
# !src/admin/autoupgrade/backup/index.php

# src/admin/backups/*
# !src/admin/backups/.htaccess

# src/admin/import/*
# !src/admin/import/.htaccess
# !src/admin/import/index.php

# src/admin/export/*
# !src/admin/export/.htaccess
# !src/admin/export/index.php

# Downloaded RTL files
# src/admin/themes/default/css/bundle/default_rtl.css
# src/admin/themes/default/css/bundle/shared_rtl.css
# src/admin/themes/default/css/font_rtl.css
# src/admin/themes/default/css/overrides_rtl.css
# src/admin/themes/default/css/vendor/font-awesome/font-awesome_rtl.css
# src/admin/themes/default/css/vendor/nv.d3_rtl.css
# src/admin/themes/default/css/vendor/titatoggle-min_rtl.css
# src/admin/themes/default/public/theme_rtl.css
# src/admin/themes/default/public/*
# src/admin/themes/new-theme/css/module/drop_rtl.css
# src/admin/themes/new-theme/css/right-sidebar_rtl.css
# src/admin/themes/new-theme/public/*
# !src/admin/themes/new-theme/public/theme.rtlfix
# !src/admin/themes/default/public/theme.rtlfix

# src/themes/*/cache/*
# src/themes/core.js.map
# src/themes/core.js

# Install folder
src/install

# Config
# src/config/defines_custom.inc.php
# src/config/settings.inc.php
# src/config/settings.old.php
# src/config/xml/*
# src/config/themes/*
# !src/config/xml/themes/default.xml
# src/themes/*/config/settings_*.json
# src/app/config/parameters.old.yml
# src/app/config/config.php

# Themes, modules and overrides

# src/override/*
# src/themes/*/
# src/themes/classic
# !src/themes/_core
# !src/themes/_libraries

# Translations and emails templates

# src/translations/*
# !src/translations/default
# src/mails/*
# !src/mails/themes/
# !src/mails/_partials/
# src/themes/default-bootstrap/lang/*
# src/themes/default-bootstrap/modules/*/translations/*.php
# src/themes/default-bootstrap/mails/*
# !src/themes/default-bootstrap/mails/en/
# src/themes/default-bootstrap/modules/*/mails/*
# !src/themes/default-bootstrap/modules/*/mails/en

# MISC

# src/*sitemap.xml
# src/robots.txt

# Symfony

# src/bin/
# src/.web-server-pid
# src/app/Resources/geoip/GeoLite2-City.mmdb
# src/app/config/parameters.yml
# src/app/config/parameters.php
# src/phpunit.xml
# src/var/*
# !src/var/cache
src/var/cache/*
# !src/var/cache/.gitkeep
# !src/var/logs
src/var/logs/*
# !src/var/logs/.gitkeep
# !src/var/sessions
src/var/sessions/*
# !src/var/sessions/.gitkeep
# !src/var/SymfonyRequirements.php
# !src/var/modules
# src/var/modules/*
# !src/var/modules/.gitkeep
# src/vendor/
# src/web/bundles/

# Release creation
# src/tools/build/releases/*
# !src/tools/build/releases/.gitkeep

# Docker configuration
install.lock
docker-compose.override.yml
